* {
    padding: 0;
    margin: 0;
}

body {
    height: 1vh;
    overflow:hidden;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #555555;
    list-style-type: none;
}

#render {
    position: absolute;
    left: 0;
    top: 5%;
}

footer {
    height:0
}

li {
    float: left;
    padding: 0.5%;
}

a.bar-link {
    display: block;
    font-size: 100%;
    text-decoration: none;
    color: #FAFAFA;
    background-color: #777;
}

a.bar-link:hover {
    background-color: #888888;
}